In [1]:
%matplotlib inline
import pandas as pd

In [2]:
# from IPython.core.display import HTML
# css = open('style-table.css').read() + open('style-notebook.css').read()
# HTML('<style>{}</style>'.format(css))

In [3]:
dataset = pd.read_csv('data/titles.csv')
dataset.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [4]:
print("Number of movies is : ", dataset['title'].count())

Number of movies is :  244914

### What are the earliest two films listed in the titles dataframe?

In [5]:
dataset.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [6]:
dataset[dataset['title']=='Hamlet']['title'].count()

20

In [7]:
len(dataset[dataset.title == "Hamlet"])

20

### How many movies are titled "North by Northwest"?

In [8]:
len(dataset[dataset.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [9]:
dataset[dataset.title == "Hamlet"].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
dataset[dataset.title == "Treasure Island"].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [11]:
print('Number of movie made in 1950 is : ',len(dataset[dataset.year == 1950]))

Number of movie made in 1950 is :  1113

### How many movies were made in the year 1960?

In [12]:
len(dataset[dataset.year == 1960])

1549

### How many movies were made from 1950 through 1959?

In [13]:
t = dataset
len(t[(t.year >= 1950) & (t.year <= 1959)])

12934

### In what years has a movie titled "Batman" been released?

In [14]:
dataset[dataset.title == "Batman"]

         title  year
39349   Batman  1943
240896  Batman  1989

In [15]:
cast = pd.read_csv("data/cast.csv")

### How many roles were there in the movie "Inception"?

In [16]:
len(cast[cast.title == "Inception"].character)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [17]:
print(len(cast[cast.n == 0.0][cast.title == "Inception"].character));

0

<ipython-input-17-e94c8a8ad58f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(cast[cast.n == 0.0][cast.title == "Inception"].character));

### But how many roles in the movie "Inception" did receive an "n" value?

In [18]:
len(cast[cast.n != 0.0][cast.title == "Inception"].character)

78

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [19]:
pd.options.display.max_rows = 999
cast[cast.n != 0.0][cast.title == "North by Northwest"].sort_values('n')

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
12668,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
29122,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
56389,North by Northwest,1959,Don Anderson,actor,Worker,NaN
56610,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
95950,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
101764,North by Northwest,1959,Tol Avery,actor,State Police Detective,NaN
113558,North by Northwest,1959,Sam Bagley,actor,Courtroom Spectator,NaN
119104,North by Northwest,1959,Frank Baker,actor,Man at Auction,NaN
124956,North by Northwest,1959,Alex Ball,actor,Man at United Nations Building,NaN
143362,North by Northwest,1959,Baynes Barron,actor,Taxi Driver #2,NaN
157984,North by Northwest,1959,Brandon Beach,actor,Man at Auction,NaN
183104,North by Northwest,1959,John Beradino,actor,Sergeant Emile Klinger,NaN
231150,North by Northwest,1959,Stephen Bolster,actor,Man with Camera,NaN
357237,North by Northwest,1959,Steve Carruthers,actor,Man at Auction,NaN
363413,North by Northwest,1959,Taggart Casey,actor,Shaving Man,NaN
370213,North by Northwest,1959,Bill Catching,actor,Auction Attendant,NaN
440718,North by Northwest,1959,Bob (II) Coe,actor,Cropduster Pilot,NaN
485168,North by Northwest,1959,David A. Cox,actor,Police Officer on Horse,NaN
486194,North by Northwest,1959,Walter Coy,actor,U.S. Intelligence Agency Official,NaN
497282,North by Northwest,1959,Jimmy Cross,actor,Taxi Driver #1,NaN
521452,North by Northwest,1959,Jack Daly,actor,Train Steward,NaN
522475,North by Northwest,1959,John Damler,actor,Police Lieutenant,NaN
603172,North by Northwest,1959,Lawrence Dobkin,actor,U.S. Intelligence Agency Official,NaN
662870,North by Northwest,1959,Daniel Elam,actor,Man at United Nations Building,NaN
704461,North by Northwest,1959,Tommy Farrell,actor,Eddie - Elevator Starter,NaN
707790,North by Northwest,1959,Adolph Faylauer,actor,Bald Bidder,NaN
815510,North by Northwest,1959,Paul Genge,actor,Lieutenant Hagerman,NaN
838574,North by Northwest,1959,Ned Glass,actor,Ticket Seller,NaN
852274,North by Northwest,1959,James Gonzalez,actor,Man at Auction,NaN
881227,North by Northwest,1959,Tom Greenway,actor,Silent State Police Detective,NaN
917621,North by Northwest,1959,Robert Haines,actor,Man at United Nations Building,NaN
924065,North by Northwest,1959,Stuart Hall,actor,Train Passenger,NaN
978962,North by Northwest,1959,Len Hendry,actor,Police Lieutenant,NaN
1004782,North by Northwest,1959,Alfred Hitchcock,actor,Man Who Misses Bus,NaN
1018594,North by Northwest,1959,Stuart Holmes,actor,Hotel Lounge Patron,NaN
1064123,North by Northwest,1959,Hideo Inamura,actor,Man at United Nations Building,NaN
1079550,North by Northwest,1959,Eugene Jackson,actor,Security Guard at Auction,NaN
1112135,North by Northwest,1959,Bobby Johnson,actor,Waiter,NaN
1118427,North by Northwest,1959,Dick Johnstone,actor,Courtroom Spectator,NaN
1146961,North by Northwest,1959,Sid Kane,actor,Minor Role,NaN
1175937,North by Northwest,1959,Kenner G. Kemp,actor,Man Leaving Office Building,NaN
1180121,North by Northwest,1959,Colin Kenny,actor,Man at Auction,NaN
1326121,North by Northwest,1959,Larry Leverett,actor,Man in Phone Booth,NaN
1327241,North by Northwest,1959,Carl M. Leviness,actor,Man at United Nations Building,NaN
1354270,North by Northwest,1959,Alexander Lockwood,actor,Judge Anson B. Flynn,NaN
1438481,North by Northwest,1959,Frank Marlowe,actor,Taxi Driver,NaN
1443633,North by Northwest,1959,Tom (III) Marshall,actor,Police Officer in Chicago,NaN
1448786,North by Northwest,1959,Thomas Martin,actor,Train Passenger,NaN
1477780,North by Northwest,1959,James McCallion,actor,Plaza Valet,NaN
1547433,North by Northwest,1959,Carl Milletaire,actor,Hotel Clerk,NaN
1563494,North by Northwest,1959,Hans Moebus,actor,Man at United Nations Building,NaN
1644456,North by Northwest,1959,Howard Negley,actor,"Conductor on Twentieth Century, Ltd.",NaN
1688114,North by Northwest,1959,Monty O'Grady,actor,Man at United Nations Building,NaN
1691903,North by Northwest,1959,Henry O'Neill,actor,Man in Plaza Bar,NaN
1818147,North by Northwest,1959,Murray Pollack,actor,Worker,NaN
1825899,North by Northwest,1959,Charles Postal,actor,Minor Role,NaN
1844013,North by Northwest,1959,Hugh Pryor,actor,Minor Role,NaN
1890588,North by Northwest,1959,Ralph Reed,actor,Bellhop,NaN
1972498,North by Northwest,1959,John Roy,actor,Train Passenger,NaN
2018372,North by Northwest,1959,Cosmo Sardo,actor,Worker,NaN
2028631,North by Northwest,1959,Jeffrey Sayre,actor,Hotel Lounge Patron,NaN
2028632,North by Northwest,1959,Jeffrey Sayre,actor,Man at Mt. Rushmore Cafeteria,NaN
2053657,North by Northwest,1959,Scott Seaton,actor,Man at Auction,NaN
2068349,North by Northwest,1959,Harry Seymour,actor,Victor - Captain of Waiters,NaN
2079591,North by Northwest,1959,Robert Shayne,actor,Larry Wade,NaN
2086006,North by Northwest,1959,Larry Sherman,actor,Cab driver,NaN
2121598,North by Northwest,1959,Jeremy Slate,actor,Policeman at Grand Central Station,NaN
2149028,North by Northwest,1959,Olan Soule,actor,Assistant Auctioneer,NaN
2177723,North by Northwest,1959,Harvey Stephens,actor,Stockbroker,NaN
2180428,North by Northwest,1959,Bert Stevens,actor,Man at United Nations Building,NaN
2194600,North by Northwest,1959,Harry Strang,actor,Assistant Conductor,NaN
2222438,North by Northwest,1959,Joe Szorentini,actor,Man Opening Door for Thornhill,NaN
2278874,North by Northwest,1959,Paul Togawa,actor,Man at United Nations Building,NaN
2290492,North by Northwest,1959,Arthur Tovey,actor,Man at Auction,NaN
2336947,North by Northwest,1959,Dale Van Sickel,actor,Ranger,NaN
2413287,North by Northwest,1959,Ray Weaver,actor,Policeman at Grand Central Station,NaN
2442621,North by Northwest,1959,Frank Wilcox,actor,Herman Weitner,NaN
2451678,North by Northwest,1959,Lloyd (VI) Williams,actor,Minor Role,NaN
2452927,North by Northwest,1959,Robert Williams,actor,Patrolman Waggoner,NaN
2477285,North by Northwest,1959,Wilson Wood,actor,Photographer at United Nations,NaN
2503251,North by Northwest,1959,Carleton Young,actor,Fanning Nelson,NaN
2513380,North by Northwest,1959,Ernesto Zambrano,actor,Man at Auction,NaN
2560297,North by Northwest,1959,Anne (II) Anderson,actress,Woman,NaN
2591034,North by Northwest,1959,Rama Bai,actress,Woman at United Nations Building,NaN
2632633,North by Northwest,1959,Audrey Betz,actress,Woman at Auction,NaN
2779233,North by Northwest,1959,Lucille Curtis,actress,Woman,NaN
2780018,North by Northwest,1959,Patricia Cutts,actress,Hospital Patient,NaN
2881222,North by Northwest,1959,Jesslyn Fax,actress,Woman on Train,NaN
2898131,North by Northwest,1959,Bess Flowers,actress,Hotel Lounge Patron,NaN
2903261,North by Northwest,1959,Josephine Forsberg,actress,Friendly Passenger,NaN
2910143,North by Northwest,1959,Sally Fraser,actress,Second United Nations Receptionist,NaN
3109216,North by Northwest,1959,Madge Kennedy,actress,Mrs. Finlay,NaN
3158656,North by Northwest,1959,Doreen Lang,actress,Maggie - Roger's Secretary,NaN
3246557,North by Northwest,1959,Nora Marlowe,actress,Anna - Housekeeper,NaN
3272585,North by Northwest,1959,Maura McGiveney,actress,Attendant,NaN
3441077,North by Northwest,1959,Maudie Prickett,actress,Elsie - Maid,NaN
3577128,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3599912,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3739133,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3751311,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [20]:
cast[cast.year == 1972][cast.title == "Sleuth"].sort_values('n')

<ipython-input-20-ff996f50f274>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.year == 1972][cast.title == "Sleuth"].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [21]:
cast[cast.year == 2007][cast.title == "Sleuth"].sort_values('n')

<ipython-input-21-b35e9aa731b4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.year == 2007][cast.title == "Sleuth"].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [22]:
len(cast[cast.year == 1921][cast.title == "Hamlet"][cast.n != 0.0])

<ipython-input-22-93a5219c9d39>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(cast[cast.year == 1921][cast.title == "Hamlet"][cast.n != 0.0])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [23]:
cast[cast.year == 1996].name.count()

39453

### How many "Hamlet" roles have been listed in all film credits through history?

In [24]:
len(cast[cast.title == "Hamlet"])

342

### How many people have played an "Ophelia"?

In [25]:
len(cast[cast.character == "Ophelia"])

117

### How many people have played a role called "The Dude"?

In [26]:
len(cast[cast.character == "The Dude"])

19

### How many people have played a role called "The Stranger"?

In [27]:
len(cast[cast.character == "The Stranger"])

212

### How many roles has Sidney Poitier played throughout his career?

In [28]:
len(cast[cast.name == "Sidney Poitier"].character)

43

# How many roles has Judi Dench played?

In [29]:

len(cast[cast.name == "Judi Dench"].character)

55

In [30]:
import numpy as np

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
cast[cast.n == 2][cast.name == "Cary Grant"][np.logical_and(cast.year >=1940,cast.year <=1949)].sort_values('year')

<ipython-input-31-2c2d2d5ed70f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.n == 2][cast.name == "Cary Grant"][np.logical_and(cast.year >=1940,cast.year <=1949)].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [32]:
cast[cast.name == "Cary Grant"][np.logical_and(cast.year >=1940,cast.year <=1949)][cast.n == 1].sort_values('year')

<ipython-input-32-28e429c60067>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.name == "Cary Grant"][np.logical_and(cast.year >=1940,cast.year <=1949)][cast.n == 1].sort_values('year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [33]:
len(cast[cast.type == "actor"][np.logical_and(cast.year >=1950,cast.year <=1959)].character)

<ipython-input-33-fd5be3bf97c4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(cast[cast.type == "actor"][np.logical_and(cast.year >=1950,cast.year <=1959)].character)

157738

### How many roles were available for actresses in the 1950s?

In [34]:
len(cast[cast.type == "actress"][np.logical_and(cast.year >=1950,cast.year <=1959)].character)

<ipython-input-34-f7cecdbc28c3>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(cast[cast.type == "actress"][np.logical_and(cast.year >=1950,cast.year <=1959)].character)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [35]:
len(cast[cast.n == 1][cast.year <= 1980])

<ipython-input-35-3cf91890dc69>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(cast[cast.n == 1][cast.year <= 1980])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [36]:
c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [37]:
c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

448347